.title-bg {
  padding: 200x;
  background: url("achtergrond.jpg");
    background-repeat: no-repeat;
    background-color: #f4e4e5;
    background-size: auto;
  }

.title-h1 {
  color: MediumVioletRed ;
  font-family: 'Lobster', cursive;
  font-size: 140px;
}

.about-bg {
  padding: 100px;
  background-color: #f4e4e5;
  font-family: 'Raleway';
  font-size: 18px;
}

.my-video {
  background-color: #f4e4e5;
  display: flex;
  align-items: center;
  justify-content: center;
}
